# For Loop Assignment Questions

## Question No.1

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## Question No.2

In [8]:
list1 = [2,5,6,99,8,0,4]
sum = 0
for i in list1:
    sum += i
print(sum)

124

## Question No.3

In [9]:
str1 = "haris nazir Lone"
for i in range(1,len(str1)):
    print(str1[-i],end = '')

enoL rizan sira

## Question No.4

In [11]:
num = int(input("enter a number"))
factorial = num
for i in range(1,num):
    factorial *= num - i
print(factorial)

enter a number 6

720

## Question No.5

In [12]:
num =(input("enter a number"))
if num.isdigit():
    num = int(num)
    print(f"multiplication talbe of {num} is:")
    for i in range(1,10):
        print(f"{i} X {num} = {i*num}")
else:
    print("invalid entry")

enter a number 6

multiplication talbe of 6 is:
1 X 6 = 6
2 X 6 = 12
3 X 6 = 18
4 X 6 = 24
5 X 6 = 30
6 X 6 = 36
7 X 6 = 42
8 X 6 = 48
9 X 6 = 54

## Question No.6

In [13]:
list1 = [7,8,9,1,2,3,4,5,6]
count1 = 0
count2 = 0
for i in list1:
    if i%2 == 0:
        count1 += 1
    else:
        count2 += 1
print(f"The no of even digits are: {count1}")
print(f"The no of odd digits are: {count2}")

The no of even digits are: 4
The no of odd digits are: 5

## Question No.7

In [14]:
for i in range(1,6):
    print(i**2,end = ',')

1,4,9,16,25,

## Question No.8

In [15]:
str1 = "haris nazir"
count = 0
for i in str1:
    count += 1
print("string length is:" ,count)

string length is: 11

## Question No.9

In [16]:
list1 = [7,8,9,1,2,33,4,5,6]
count = 0
sum1 = 0
for i in list1:
    sum1 += i
    count += 1
print("average is:",sum1/count)

average is: 8.333333333333334

## Question No.10

In [25]:
num_terms = int(input("enter the number"))
a, b = 0, 1
if num_terms ==1:
    print(a,end =',')
elif num_terms ==2:
    print(a,end =',')
    print(b,end =',')
else:
    print(a,end =',')
    print(b,end =',')
    for _ in range(num_terms - 2):  

        next_term = a + b

        print(next_term,end = ',')

        a,b = b,next_term

enter the number 5

0,1,1,2,3,

## Question No.11

In [26]:
list1 = [7,8,9,1,2,33,4,5,8,6]
found = False
for i in range(len(list1)):
    for j in range(len(list1)):
        if i != j and list1[i] == list1[j]:
            print("duplicate is present")
            found = True
            break
    if found:
        break
else:
    print("not found")

duplicate is present

## Question No.12

In [27]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def print_prime_numbers(lst):
    for num in lst:
        if is_prime(num):
            print(num)

my_list = [2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Prime numbers in the list:")
print_prime_numbers(my_list)

Prime numbers in the list:
2
3
5
7

## Question No.13

In [28]:
str1 = "haris nazir lone"
vowels = "aeiouAEIOU"
count = 0
for i in str1:
    for j in vowels:
        if j in i:
            count += 1
        else:
            pass
print(count)

6

In [29]:
str1 = "haris nazir lone"
vowels = "aeiouAEIOU"
count = 0

for char in str1:
    if char in vowels:
        count += 1

print(count)

6

## Question No.14

In [30]:
list1 = [[1,3,5,45,6,8],[2,6,9,0,1]]
mx = float("-inf")
for i in list1:
    for j in range(len(i)):
        if i[j] > mx:
            mx = i[j]
        
print(mx)

45

## Question No.15

In [32]:
list1 = ['h','a','r','i','s','n','a','z','i','r','s','i','r','n','o','o']
print(list1)
list2 = []
del_val = input("enter the value from the list to be removed")
for i in range(len(list1)):
    if list1[i] != del_val:
        list2.append(list1[i])
    else:
        pass
      
print(list2)

['h', 'a', 'r', 'i', 's', 'n', 'a', 'z', 'i', 'r', 's', 'i', 'r', 'n', 'o', 'o']

enter the value from the list to be removed o

['h', 'a', 'r', 'i', 's', 'n', 'a', 'z', 'i', 'r', 's', 'i', 'r', 'n']

In [33]:
list1 = ['h', 'a', 'r', 'i', 's', 'n', 'a', 'z', 'i', 'r', 's', 'i', 'r', 'n', 'o', 'o']
print(list1)

del_val = input("Enter the value from the list to be removed: ")

i = 0
while i < len(list1):
    if list1[i] == del_val:
        list1.pop(i)  # Remove the element at index i
    else:
        i += 1  # Move to the next index if no removal is performed

print(list1)

['h', 'a', 'r', 'i', 's', 'n', 'a', 'z', 'i', 'r', 's', 'i', 'r', 'n', 'o', 'o']

Enter the value from the list to be removed:  o

['h', 'a', 'r', 'i', 's', 'n', 'a', 'z', 'i', 'r', 's', 'i', 'r', 'n']

In [35]:
my_list = [1, 2, 3, 3, 3, 3, 4, 5]
my_list = [x for x in my_list if x != 3]  # Removes all occurrences of 3
print(my_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

## Question No.16

In [36]:
for i in range(1,6):
    for j in range(1,11):
        print(f"{i} X {j} is {i*j}")

1 X 1 is 1
1 X 2 is 2
1 X 3 is 3
1 X 4 is 4
1 X 5 is 5
1 X 6 is 6
1 X 7 is 7
1 X 8 is 8
1 X 9 is 9
1 X 10 is 10
2 X 1 is 2
2 X 2 is 4
2 X 3 is 6
2 X 4 is 8
2 X 5 is 10
2 X 6 is 12
2 X 7 is 14
2 X 8 is 16
2 X 9 is 18
2 X 10 is 20
3 X 1 is 3
3 X 2 is 6
3 X 3 is 9
3 X 4 is 12
3 X 5 is 15
3 X 6 is 18
3 X 7 is 21
3 X 8 is 24
3 X 9 is 27
3 X 10 is 30
4 X 1 is 4
4 X 2 is 8
4 X 3 is 12
4 X 4 is 16
4 X 5 is 20
4 X 6 is 24
4 X 7 is 28
4 X 8 is 32
4 X 9 is 36
4 X 10 is 40
5 X 1 is 5
5 X 2 is 10
5 X 3 is 15
5 X 4 is 20
5 X 5 is 25
5 X 6 is 30
5 X 7 is 35
5 X 8 is 40
5 X 9 is 45
5 X 10 is 50

## Question No.17

In [37]:
fahrenheit_temperatures = [32, 68, 100, 212]

celsius_temperatures = []

for fahrenheit in fahrenheit_temperatures:
    celsius = (fahrenheit - 32) * 5/9
    celsius_temperatures.append(celsius)
print(celsius_temperatures)

[0.0, 20.0, 37.77777777777778, 100.0]

## Question No.18

In [38]:

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = []

for item1 in list1:
    for item2 in list2:
        if item1 == item2:
            common_elements.append(item1)

if common_elements:
    print("Common elements in the lists:")
    for element in common_elements:
        print(element)
else:
    print("No common elements found.")

Common elements in the lists:
3
4
5

## Question No.19

In [23]:
for j in range(1,6):
    print("*"*j)

*
**
***
****
*****

## Question No.20

In [41]:
num1 = int(input("enter the first number"))
num2 = int(input("enter the second number"))
list1 = []
list2 = []
for i in range(1,num1+1):
    for j in range(1,num2+1):
        if num1%i == 0 and num2%j == 0:
            list1.append(i)
            list2.append(j)

common_elements = [element for element in list1 if element in list2]

hcf = max(common_elements)
hcf

enter the first number 7
enter the second number 28

7

In [42]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

def find_hcf(a, b):
    while b:
        a, b = b, a % b     #euclidean algorithm
    return a

hcf = find_hcf(num1, num2)
print(f"The Highest Common Factor (HCF) of {num1} and {num2} is {hcf}")

Enter the first number:  7
Enter the second number:  28

The Highest Common Factor (HCF) of 7 and 28 is 7

## Question No.21

In [1]:
def digit_sum(number):
    return sum(int(digit) for digit in str(number))

numbers = [123, 456, 789, 101]

digit_sums = [digit_sum(number) for number in numbers]

for i in range(len(numbers)):
    print(f"Sum of digits in {numbers[i]}: {digit_sums[i]}")

Sum of digits in 123: 6
Sum of digits in 456: 15
Sum of digits in 789: 24
Sum of digits in 101: 2

In [2]:
def digit_sum(number):
    total = 0
    while number > 0:
        total += number % 10  # Add the last digit to the total
        number //= 10         # Remove the last digit
    return total

numbers = [123, 456, 789, 101]
digit_sums = [digit_sum(number) for number in numbers]
digit_sums

[6, 15, 24, 2]

## Question No.22

In [3]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

def prime_factors(n):
    factors = [i for i in range(2, n + 1) if n % i == 0 and is_prime(i)]
    return factors

number = int(input("Enter a number: "))

if number < 2:
    print("Prime factors are not defined for numbers less than 2.")
else:
    factors = prime_factors(number)
    if len(factors) == 1 and factors[0] == number:
        print(f"{number} is a prime number.")
    else:
        print(f"The prime factors of {number} are: {factors}")

Enter a number:  6

The prime factors of 6 are: [2, 3]

In [5]:
def prime_factors(n):
    factors = [i for i in range(2, n + 1) if n % i == 0 and all(i % j != 0 for j in range(2, int(i**0.5) + 1))]
    return factors

number = int(input("Enter a number: "))

if number < 2:
    print("Prime factors are not defined for numbers less than 2.")
else:
    factors = prime_factors(number)
    if len(factors) == 1 and factors[0] == number:
        print(f"{number} is a prime number.")
    else:
        print(f"The prime factors of {number} are: {factors}")

Enter a number:  12

The prime factors of 12 are: [2, 3]

## Question No.23

In [6]:
list1 = [4,5,4,5,1,2,6,7,8,9]              # this can also be done using the set method

list2 = [x for i, x in enumerate(list1) if x not in list1[:i]]
list2

[4, 5, 1, 2, 6, 7, 8, 9]

## Question No.24

In [8]:
def is_palindrome(number):
    return str(number) == str(number)[::-1]

limit = int(input("Enter the upper limit: "))

palindromic_numbers = [num for num in range(1, limit + 1) if is_palindrome(num)]

print("Palindromic Numbers:", palindromic_numbers)

Enter the upper limit:  30

Palindromic Numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22]

## Question No.25

In [2]:
def flatten_list(nested_list):
    flattened = []
    for item in nested_list:
        if isinstance(item, list):
            flattened.extend(flatten_list(item))
        else:
            flattened.append(item)
    return flattened

nested_list = [[1, [2, 9], 3], [1, [4, 5]], [3, [6, 7, 8]]]
flattened_list = flatten_list(nested_list)

print("Original Nested List:", nested_list)
print("Flattened List:", flattened_list)

Original Nested List: [[1, [2, 9], 3], [1, [4, 5]], [3, [6, 7, 8]]]
Flattened List: [1, 2, 9, 3, 1, 4, 5, 3, 6, 7, 8]

## Question No.26

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

even_sum = sum([x for x in numbers if x % 2 == 0])
odd_sum = sum([x for x in numbers if x % 2 != 0])

print("Original List:", numbers)
print("Sum of Even Numbers:", even_sum)
print("Sum of Odd Numbers:", odd_sum)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Sum of Even Numbers: 20
Sum of Odd Numbers: 25

## Question No.27

In [4]:
odd_squares = [x**2 for x in range(1, 11) if x % 2 != 0]

print("Squares of Odd Numbers:", odd_squares)

Squares of Odd Numbers: [1, 9, 25, 49, 81]

## Question No.28

In [5]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

combined_dict = {keys[i]: values[i] for i in range(min(len(keys), len(values)))}

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3}

## Question No.29

In [6]:
input_string = input("Enter a string: ")

input_string = input_string.lower()

vowels = [char for char in input_string if char in 'aeiou']

print("Vowels in the string:", vowels)

Enter a string:  hello

Vowels in the string: ['e', 'o']

## Question No.30

In [7]:
string_list = ["abc123", "xyz45", "pqr678", "1234", "abc"]

numeric_list = [''.join(char for char in s if char.isdigit()) for s in string_list]

print("Original List:", string_list)
print("Numeric List:", numeric_list)

Original List: ['abc123', 'xyz45', 'pqr678', '1234', 'abc']
Numeric List: ['123', '45', '678', '1234', '']

## Question No.31

In [8]:
def sieve_of_eratosthenes(n):
    
    is_prime = [True] * (n + 1)
    
    is_prime[0] = is_prime[1] = False
    
    for p in range(2, int(n**0.5) + 1):
        if is_prime[p]:
            for i in range(p * p, n + 1, p):
                is_prime[i] = False
    
    primes = [i for i in range(2, n + 1) if is_prime[i]]
    
    return primes

n = int(input("Enter the upper limit: "))
prime_list = sieve_of_eratosthenes(n)

print("Prime numbers up to", n, "are:")
print(prime_list)

Enter the upper limit:  20

Prime numbers up to 20 are:
[2, 3, 5, 7, 11, 13, 17, 19]

## Question No.32

In [2]:
def generate_pythagorean_triplets(limit):
    triplets = [(a, b, c) for a in range(1, limit) for b in range(a, limit) 
                for c in range(b, limit) if a**2 + b**2 == c**2]
    
    return triplets

limit = int(input("Enter the limit: "))
pythagorean_triplets = generate_pythagorean_triplets(limit)

print("Pythagorean triplets up to", limit, "are:")
for triplet in pythagorean_triplets:
    print(triplet)

Enter the limit:  56

Pythagorean triplets up to 56 are:
(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 15, 17)
(9, 12, 15)
(9, 40, 41)
(10, 24, 26)
(12, 16, 20)
(12, 35, 37)
(14, 48, 50)
(15, 20, 25)
(15, 36, 39)
(16, 30, 34)
(18, 24, 30)
(20, 21, 29)
(20, 48, 52)
(21, 28, 35)
(24, 32, 40)
(24, 45, 51)
(27, 36, 45)
(28, 45, 53)
(30, 40, 50)
(33, 44, 55)

## Question No.33

In [4]:
list1 = input("Enter the first list (comma-separated values): ").split(',')
list2 = input("Enter the second list (comma-separated values): ").split(',')

combinations = [(x, y) for x in list1 for y in list2]

print("All possible combinations of the two lists are:")
print(combinations)

Enter the first list (comma-separated values):  h,1,True
Enter the second list (comma-separated values):  True,i,4

All possible combinations of the two lists are:
[('h', 'True'), ('h', 'i'), ('h', '4'), ('1', 'True'), ('1', 'i'), ('1', '4'), ('True', 'True'), ('True', 'i'), ('True', '4')]

## Question No.34

In [5]:
from statistics import mean, median, mode

numbers = input("Enter a list of numbers (comma-separated values): ").split(',')
numbers = [float(x.strip()) for x in numbers]

mean_value = mean(numbers)
median_value = median(numbers)
try:
    mode_value = mode(numbers)
except StatisticsError:
    mode_value = "No unique mode found"

print("Mean:", mean_value)
print("Median:", median_value)
print("Mode:", mode_value)

Enter a list of numbers (comma-separated values):  4,5,5,9,1,9

Mean: 5.5
Median: 5.0
Mode: 5.0

## Question No.35

In [6]:
def generate_pascals_triangle(num_rows):
    triangle = [[1]]
    
    for _ in range(1, num_rows):
        prev_row = triangle[-1]
        new_row = [1] + [prev_row[i] + prev_row[i+1] for i in range(len(prev_row) - 1)] + [1]
        
        triangle.append(new_row)
    
    return triangle

num_rows = int(input("Enter the number of rows for Pascal's triangle: "))
pascals_triangle = generate_pascals_triangle(num_rows)

for row in pascals_triangle:
    print(" ".join(map(str, row)).center(num_rows * 3))

Enter the number of rows for Pascal's triangle:  5

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1

## Question No.36

In [7]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

def sum_of_digits(n):
    return sum(int(digit) for digit in str(n))

for i in range(1, 6):
    fact = factorial(i)
    digit_sum = sum_of_digits(fact)
    print(f"The sum of digits of {i}! ({i} factorial) is: {digit_sum}")

The sum of digits of 1! (1 factorial) is: 1
The sum of digits of 2! (2 factorial) is: 2
The sum of digits of 3! (3 factorial) is: 6
The sum of digits of 4! (4 factorial) is: 6
The sum of digits of 5! (5 factorial) is: 3

## Question No.37

In [8]:
sentence = input("Enter a sentence: ")

words = sentence.split()
longest_word = max((word for word in words), key=len)

print(f"The longest word in the sentence is: {longest_word}")

Enter a sentence:  hairs nazir lone

The longest word in the sentence is: hairs

In [9]:
sentence = input("Enter a sentence: ")

words = sentence.split()
longest_word = max((word for word in words if len(word) == max(len(word) for word in words)), key=len)

print(f"The longest word in the sentence is: {longest_word}")

Enter a sentence:  haris nazir lone

The longest word in the sentence is: haris

## Question No.38

In [15]:
def count_vowels(string):
    vowels = "AEIOUaeiou"
    return sum(1 for char in string if char in vowels)

input_string = input("Enter a list of strings (comma-separated): ")
string_list = input_string.split(',')

filtered_list = [string for string in string_list if count_vowels(string) > 3]

if filtered_list:
    print("Strings with more than three vowels are:")
    for string in filtered_list:
        print(string.strip())  
else:
    print("No strings with more than three vowels found in the input.")

Enter a list of strings (comma-separated):  aeiharis,nazir,lone

Strings with more than three vowels are:
aeiharis

## Question No.39

In [16]:
def sum_of_digits(n):
    return sum(int(digit) for digit in str(n))

sum_of_digits_list = [sum_of_digits(i) for i in range(1, 1001)]

total_sum = sum(sum_of_digits_list)

print("The sum of digits of numbers from 1 to 1000 is:", total_sum)

The sum of digits of numbers from 1 to 1000 is: 13501

## Question No.40

In [17]:
def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3, int(n**0.5) + 1, 2):
        if n % i == 0:
            return False
    return True

def is_palindrome(n):
    return str(n) == str(n)[::-1]

prime_palindromic_numbers = [num for num in range(1, 1001) if is_prime(num) and is_palindrome(num)]

print("Prime palindromic numbers from 1 to 1000 are:")
print(prime_palindromic_numbers)

Prime palindromic numbers from 1 to 1000 are:
[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]

In [18]:
def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3, int(n**0.5) + 1, 2):
        if n % i == 0:
            return False
    return True

def is_palindrome(n):
    return str(n) == str(n)[::-1]

start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))

prime_palindromic_numbers = [num for num in range(start, end + 1) if is_prime(num) and is_palindrome(num)]

print(f"Prime palindromic numbers from {start} to {end} are:")
print(prime_palindromic_numbers)

Enter the starting number:  500
Enter the ending number:  1000

Prime palindromic numbers from 500 to 1000 are:
[727, 757, 787, 797, 919, 929]